body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-nunito-sans: "Nunito Sans";
  --font-playfair-display: "Playfair Display";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-35xl: 54px;
  --font-size-24xl: 43px;
  --font-size-13xl: 32px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;

  /* Colors */
  --color-white: #fff;
  --color-forestgreen-100: #49b649;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: rgba(230, 230, 230, 0.09);

  /* Gaps */
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-4xs: 9px;

  /* Paddings */
  --padding-8xs: 5px;
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-32xl: 51px;
  --padding-xl: 20px;
  --padding-2xs: 11px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-71xl: 90px;
  --padding-41xl: 60px;
  --padding-20xl: 39px;
  --padding-40xl: 59px;
  --padding-13xl: 32px;
  --padding-smi: 13px;
  --padding-19xl: 38px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-31xl: 50px;
  --br-3xs: 10px;
}
